.label {
  position: relative;
}

.input {
  position: absolute;
  opacity: 0;
}

.bigCircle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  border: 1px solid var(--input-border-color);

  transition: border-color 250ms ease-in-out;
  &.checked {
    border-color: var(--blue-color);
  }
}

.fillCircle {
  display: block;
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: transparent;
  border: 1px solid transparent;

  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.fillCircle.checked {
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}
