@mixin yellowBtn() {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px 18px;

  border: none;
  border-radius: 80px;

  background-color: var(--yellow-color);
  color: black;

  font-weight: 400;
  font-size: 16px;
}
