@mixin yellowBtn() {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px 18px;
  // min-width: 100px;
  // width: 100px;

  border: none;
  border-radius: 80px;

  background-color: var(--yellow-color);
  color: black;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  text-decoration: none;
  cursor: pointer;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--yellow-hover-color);
  }

  &:disabled {
    background-color: var(--disabled-color);
    color: white;
  }
}
