:root {
  --yellow-color: #f4e041;
  --yellow-hover-color: #ffe302;
  --blue-color: #00bdd3;
  --bg-color: #f8f8f8;
  --disabled-color: #b4b4b4;
  --placeholder-color: #7e7e7e;
  --input-border-color: #d0cfcf;
  --error-border-color: #cb3d40;
}
