@import "../../static/sass/mixins.scss";

.header {
  display: flex;
  flex-direction: column;

  padding: 13px 0px;
  background-color: #ffffff;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoIcon {
  margin-right: auto;
}
.controls {
  display: flex;
  margin-left: auto;
}

.button {
  @include yellowBtn;

  &:last-of-type {
    margin-left: 10px;
  }
}
